
.header{
    padding: 1.875rem 5.5rem;
    @include mq(md){
        padding: 1.875rem 2.4375rem;
    }
    @include mq(sm){
        padding: 0;
    }
    &__image{
        width: 80px;
        height: 48px;
        @include mq(sm){
            width: 48px;
            height: 30px;
        }
    }
    &__link:hover{
        color: $color-link-hover;
    }
}