.page-index{
    .jumbotron{
        background-image: url('../images/people/index-jumbotron.jpg');
        height: 840px;
        @include mq(sm){
            height: 394px;
        }
    }
    .specialty{
        &__icon{
           font-size: 100px;
           display: block;
        }
    }
    .series{
        &__image{
            @include mq(md){
                height: 168px;
            }
            @include mq(sm){
                height: 134px;
            }
        }
    }
    .co-brand{
        background-image: url('../images/people/red-bg.jpg');
        &__image{
            height: 455px;
            @include mq(md){
                height: 278px;
            } 
            @include mq(sm){
                height: 291px;
            }
            &.img-1{
                background-image: url('../images/people/coBrand-1.jpg');
            }
            &.img-2{
                background-image: url('../images/glassess/coBrand-2.jpg');
            }
        }
        &__text{
            background-color: rgba(255,255,255,.5);
        }
    }
    .recommend{
        &__image{
            height: 256px;
        }
        &__text{
            min-height: 204px;
        }
    }
    .contact{
        &__input{
            background: transparent;
            padding: 0.75em 1em;
            @include mq(md){
                padding: 0.5em 0.75em;
            }
        }
    }
}