//display
@each $point, $value in $grid-breakpoints {
    @if not $value {
        @each $key in $display-list{
            .d-#{$key}{
                display: $key;
            }
        }
    } @else {
        @include mq($point){
            @each $key in $display-list{
                .d-#{$point}-#{$key}{
                    display: $key;
                }
            }
        }
    }
}

//flex-direction
@each $point, $value in $grid-breakpoints {
    @if not $value {
        @each $direction, $values in $flex-directions{
            .flex-#{$direction} {
                flex-direction: $direction;
            }
        }
    } @else {
        @include mq($point) {
           @each $direction, $values in $flex-directions{
               .flex-#{$point}-#{$direction}{
                   flex-direction: $direction;
               }
           }
        }
    } 
}
//flex-wrap
@each $point, $value in $grid-breakpoints{
    @if not $value{
        .flex-wrap{
            flex-wrap: wrap;
        }
        .flex-nowrap{
            flex-wrap: nowrap;
        }
    }@else{
        @include mq($point){
            .flex-#{$point}-wrap{
                flex-wrap: wrap;
            }
            .flex-#{$point}-nowrap{
                flex-wrap: nowrap;
            }
        }
    }
}

//justify-content align-items-center
@each $point, $value in $grid-breakpoints {
   @if not $value {
      @each $pro, $values in $flex-properties {
          @if $pro == 'jc' {
              @each $key, $value in $values{
                  .#{$pro}-#{$key}{
                      justify-content: $value;
                  }
              }
          }
          @if $pro == 'ai' {
              @each $key, $value in $values{
                  .#{$pro}-#{$key}{
                      align-items: $value;
                  }
              }
          }
      }
   } @else {
       @include mq($point){
           @each $pro, $values in $flex-properties{
               @if $pro == 'jc' {
                    @each $key, $value in $values{
                        .#{$pro}-#{$point}-#{$key}{
                            justify-content: $value;
                        }
                    }
                }
                @if $pro == 'ai' {
                    @each $key, $value in $values{
                        .#{$pro}-#{$point}-#{$key}{
                            align-items: $value;
                        }
                    }
                }
           }
       }
   }
}



