// 5.1 position 
@mixin position ($pos: absolute ,$top:auto, $left:auto, $bottom:auto, $right:auto ) {
    position: $pos; 
    @if $top != auto {
        top:$top;    
    }
    @if $left != auto {    
        left:$left;    
    }
    @if $bottom != auto {
        bottom:$bottom; 
    }
    @if $right != auto {
        right:$right;   
    }
}
//size
@mixin size($w, $h:auto) {
    width: $w;
    @if $h == auto{
       height: $w 
    }@else {
       height: $h;
    }
}

//偽元素
@mixin pseudo(
    $loc:before, 
    $content:'',
    $pos: absolute,
    $top:auto,
    $left:auto,
    $bottom:auto,
    $right:auto,
    ) {
    position: relative;

    &::#{$loc}{
        content: $content;
        position: $pos;
        top:$top;
        bottom:$bottom;
        right:$right;
        left:$left;
        @content;
    } 
}