//colors
$color-primary: #AA0601;
$color-primary-dark: #650300;
$color-brown: #B75929;
$color-brown-dark: #5F3E2D;
$color-light: #fff;
$color-milk: #FBF2F2;
$color-gray-100: #F2F2F2;
$color-gray-200: #DEE2E6;
$color-gray-300: #DCDCDC;
$color-gray-400: #707070;
$color-gray-500: #212529;
$color-dark: #000000;
$color-link-hover: #ffc852;

$theme-colors: (
   primary:      $color-primary,
   primary-dark: $color-primary-dark,
   brown:        $color-brown,
   brown-dark:   $color-brown-dark,
   light:        $color-light,
   milk:         $color-milk,
   gray-100:     $color-gray-100,
   gray-200:     $color-gray-200,
   gray-300:     $color-gray-300,
   gray-400:     $color-gray-400,
   gray-500:     $color-gray-500,
   dark:         $color-dark
);

//opacity
$opacity-list: (
   0:   0,
   25: .25,
   50: .5,
   75: .75,
   100: 1,
);

//font-size
$fs-base: 1rem;           //16px
$fs-lg: $fs-base * 4.5;   //72px
$fs-1:  $fs-base * 4;     //64px
$fs-2:  $fs-base * 3;     //48px
$fs-3:  $fs-base * 2.25;  //36px
$fs-4:  $fs-base * 2;     //32px
$fs-5:  $fs-base * 1.75;  //28px
$fs-6:  $fs-base * 1.5;   //24px
$fs-7:  $fs-base * 1.25;  //20px
$fs-8:  $fs-base;         //16px
$fs-9:  $fs-base * 0.875; //14px

$font-sizes: (
   lg: $fs-lg,
   1: $fs-1, 
   2: $fs-2, 
   3: $fs-3, 
   4: $fs-4, 
   5: $fs-5, 
   6: $fs-6, 
   7: $fs-7, 
   8: $fs-8, 
   9: $fs-9
);
// font-family
$font-family-roboto: 'Roboto', sans-serif;
$font-family-notoSans: Noto Sans TC, sans-serif;

//font-weight
$fw-base: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;
$font-weights: (
   normal: $fw-base,
   medium: $fw-medium,
   bold:  $fw-bold,
   black:  $fw-black,
);

//light-height
$lh-sm: 1.25;
$lh-base: 1.5;
$lh-l: 1.75;
$lh-lg: 2;

$line-heights: (
   sm: $lh-sm, 
   normal: $lh-base,
   l: $lh-l,
   lg: $lh-lg, 
);

//text-align
$text-alignments: left, right, center;
$directions: (
   '': false,
   'top': top,
   'right': right,
   'bottom': bottom,
   'left': left,
);
//border
$border-width: 1px;
$border-widths: (
  0: 0px,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);
$border-color: $color-gray-200;
$border-radius:       .25rem;
$border-radius-sm:    .2rem;
$border-radius-lg:    .3rem;
$border-radius-pill:  50rem;
$border-radius-list: (
   0: 0,
   1: $border-radius-sm,
   2: $border-radius,
   3: $border-radius-lg,
   'circle': 50%,
   'pill': $border-radius-pill
);

//shadow
$box-shadow: 0px 2px 6px #00000029;
$shadow-list: (
   'normal': $box-shadow,
   none: none,
);

//overflow
$overflow-list: auto hidden visible scroll;

//spacing
$spacing-types: (
   'm': margin,
   'p': padding,
);
$spacing-directions: (
   '': '',
   't': top,
   'b': bottom,
   'l': left,
   'r': right,
   'x': (right, left),
   'y': (top, bottom)
);
$spacer: 1rem; //16px
$spacers: (
  auto: auto,
  0: 0,
  1: $spacer * .25,   //4px
  2: $spacer * .5,    //8px
  3: $spacer * .625,  //10px
  4: $spacer * .75,   //12px
  5: $spacer,         //16px
  6: $spacer * 1.25,  //20px
  7: $spacer * 1.5,   //24px
  8: $spacer * 1.75,  //28px
  9: $spacer * 1.875, //30px
  10: $spacer * 2,    //32px
  11: $spacer * 2.25, //36px
  12: $spacer * 2.5,  //40px
  13: $spacer * 3,    //48px
  14: $spacer * 3.5,  //56px
  15: $spacer * 4,    //64px
);

//display
$display-list: flex, inline-flex, block, inline , table, none;

//flex 設定
$flex-directions: ( row, row-reverse, column, column-reverse);
$flex-properties: (
    'jc': (
        start: flex-start, 
        end: flex-end, 
        center: center, 
        between: space-between, 
        around: space-around, 
        evenly: space-evenly
    ),
    'ai': (
        start: flex-start, 
        end: flex-end, 
        center: center, 
        baseline: baseline, 
        stretch: stretch, 
    )
);
//position
$position-list: static, relative, absolute, fixed, sticky;
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
);

//sizing
$sizing-types:(
   'w': width,
   'h': height,
   'mw': max-width,
);
$sizing-list: (
   25: 25%,
   50: 50%,
   75: 75%,
   100: 100%,
   auto: auto
);
//grid
$gutter-width: 30px;
$grid-sum: 12;

$grid-breakpoints: (
  '': false,
  lg: 992px,
  md: 768px,
  sm: 568px,
);