
.pagination{
   &__list{
       display: flex;
   }
   .page-link{
       padding: 0.75em 1em;
       border: 1px solid #555;
       @include mq(sm){
          font-size: 1rem;
          padding: 0.625em 0.75em; 
       }
   }
   .page-link:hover,
   .page-link.active{
       background-color: $color-dark;
       color: $color-light;
   }
}